*{
  margin: 0;
  padding: 0;
}

main{
    min-height: 80vh;
}

footer{
    margin: 0;
    padding: 1rem 0; /* ajuste conforme necessário */
    color: #ffffff;
    background-color: #808080;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(29%) sepia(100%) saturate(7481%) hue-rotate(200deg) brightness(95%) contrast(90%);
}