*{
  margin: 0;
  padding: 0;
}

main{
    min-height: 80vh;
}

footer{
    margin: 0;
    padding: 1rem 0; /* ajuste conforme necessário */
    color: #ffffff;
    background-color: #808080;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(29%) sepia(100%) saturate(7481%) hue-rotate(200deg) brightness(95%) contrast(90%);
}

.texto-preco{
  font-weight: bold;
  color: green;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.descricao-produto{
  color:royalblue;
  font-weight: bold;
  font-size: 1.2rem;
}

.exibicao-produto {
  max-width: 30%; /* padrão para desktops */
  margin: auto;
}

@media (max-width: 576px) {
  .exibicao-produto {
    max-width: 80%;
    margin: auto;
  }
}

.creditos_e_licenca{
  font-size: 0.6rem;
  user-select: none;
}

.titulo_creditos_licenca{
  margin-top: 0;
  margin-bottom: 0.5em;
}

.linha_divisoria{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: royalblue;
  height: 2px;
}

a{
  text-decoration: none;
}